


.searchBox-container {
  position: relative;
  width: 177px;
  display: flex;
  align-items: center;
  border: solid 1px #b7b7b7;
  border-radius: 30px;
  left: 100px;
  padding-left: 10px;
}

.searchIcon {
  position: absolute;
  right: 5px;
  color: #b7b7b7;
  margin-bottom: 3px;
}
.searchBox {
  border: none;
  padding: 5px ;    
  width: 70%;
  background: transparent;
}
