.dashboard-container {
  display: flex;
}

.dashboard-menu {
  width: 220px;
  height: 100vh;
  background-color: #f6f6f6;
}

.dashboard-content {
  width: 100vw;
  height: 100vh;
  background-color: #f6f6f6;
  padding: 32px 40px 200px 0;
}
.admin-logo-container {
  width: 100%;
  height: 104px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.content-first-bar {
  width: 100%;
  height: 36px;
  display: flex;
  align-items: center;
  position: relative;
}
.second-bar {
  height: 115px;
  width: 100%;
}
.admin-box {
  display: flex;
  justify-content: space-evenly;
  position: absolute;
  right: 0px;
  width: 250px;
}
.admin-username {
  display: flex;
}
.content-box {
  width: 100%;
  height: 580px;
  background-color: #ffff;
  box-shadow: 0 10px 24px 0 rgba(0, 0, 0, 0.08);
  border-radius: 2px;
  padding: 0 24px 36px 24px;
}
