.left-column {
    width: 180px;
    margin-top: 75px;
}
.paddingLeftRight {
    padding: 0 150px 0 150px;
}
.all-product {
    cursor: pointer;
    margin-bottom: 20px;
}
.all-product:hover {
    color: #ff6900
}
.category {
    margin-bottom: 18px;
    font-size: 16px;
    font-weight: bold;
}
.product-list-path {
    display: flex;
    align-items: center;
    position: relative;
    width: 100%;
    margin: 50px 0 50px 0;
}
.product-list-path .span {
    position: absolute;
    left: 370px;
    font-size: 14px;
    font-weight: normal;
    text-transform: capitalize;
    color: #202124
}
.product-panel-flex {
    display: flex;
    flex-wrap: wrap;
}
.product-panel-flex-loading {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 80%;
}

#margin-left {
    margin-left: -220px;
}

.category-markup {
    border-bottom: solid 2px #ffa15f;
    padding-bottom: 20px;
    margin-bottom: 40px;
}
