.order-tab-details-container {
  height: 48px;
  padding: 14px 12px 14px 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.order-tab-details-button {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.order-tab-details-order-id {
  width: 60px;
  font-size: 14px;

  font-weight: 500;
}
.order-tab-details-time {
  width: 145px;
  font-size: 14px;

  font-weight: 500;
}
.order-tab-details-product {
  width: 240px;
  font-size: 14px;
  font-weight: 500;
  overflow: hidden;
}
.order-tab-details-status {
  width: 70px;
  font-size: 14px;

  font-weight: 500;
}
.order-tab-details-status-pending {
  width: 70px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 14px;
  border-radius: 12px;
  background-color: #fbba4e;
  font-weight: 500;
  color: #ffff;
}
.order-tab-details-status-complete {
  width: 70px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 14px;
  border-radius: 12px;
  background-color: #82bf11;
  font-weight: 500;
  color: #ffff;
}
.order-tab-details-status-cancelled {
  width: 70px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 14px;
  border-radius: 12px;
  background-color: #f05d62;
  font-weight: 500;
  color: #ffff;
  font-weight: 500;
}
.order-tab-details-total {
  width: 50px;
}
.action-button-dropdown {
  display: inline-block;
}
.action-button-dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  padding: 12px 16px;
  z-index: 1;
  right: 85px;
}
.action-button-dropdown:hover .action-button-dropdown-content {
  display: block;
}
.action-button-dropdown-content-button {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  width: 193px;
}
.action-button-dropdown-content-button:hover {
  background-color: #f6f6f6;
}
.peagreen-oval {
  width: 10px;
  height: 10px;
  background-color: #82bf11;
  border-radius: 50px;
}
.red-oval {
  width: 10px;
  height: 10px;
  background-color: #f05d62;
  border-radius: 50px;
}
