button {
    background-color: Transparent;
    background-repeat:no-repeat;
    border: none;
    cursor:pointer;
    overflow: hidden;
    outline:none;
    font-size: 17px;
}

.Modal {
    position: absolute;
    top: 90px;
    left: 500px;
    right: 499px;
    bottom: 120px;
    background-color: white;
}.form-label {
    margin-top: 150px;
}

.Overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.5);
}